@media only screen and (min-width: 0px) {
  .container {
    width: calc(100% - 32px);
    padding: 0 16px;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(4, calc((100vw - 32px - 48px) / 4));
    column-gap: 16px;
  }
  .col-1 {
    grid-column-end: span 1;
  }
  .col-xs-1 {
    grid-column-end: span 1;
  }
  .col-2 {
    grid-column-end: span 2;
  }
  .col-xs-2 {
    grid-column-end: span 2;
  }
  .col-3 {
    grid-column-end: span 3;
  }
  .col-xs-3 {
    grid-column-end: span 3;
  }
  .col-4 {
    grid-column-end: span 4;
  }
  .col-xs-4 {
    grid-column-end: span 4;
  }
  .off-1 {
    grid-column-start: 1;
  }
  .off-xs-1 {
    grid-column-start: 1;
  }
  .off-2 {
    grid-column-start: 2;
  }
  .off-xs-2 {
    grid-column-start: 2;
  }
  .off-3 {
    grid-column-start: 3;
  }
  .off-xs-3 {
    grid-column-start: 3;
  }
  .off-4 {
    grid-column-start: 4;
  }
  .off-xs-4 {
    grid-column-start: 4;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    width: calc(100% - 64px);
    padding: 0 32px;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(8, calc((100vw - 64px - 112px) / 8));
    column-gap: 16px;
  }
  .col-1 {
    grid-column-end: span 1;
  }
  .col-sm-1 {
    grid-column-end: span 1;
  }
  .col-2 {
    grid-column-end: span 2;
  }
  .col-sm-2 {
    grid-column-end: span 2;
  }
  .col-3 {
    grid-column-end: span 3;
  }
  .col-sm-3 {
    grid-column-end: span 3;
  }
  .col-4 {
    grid-column-end: span 4;
  }
  .col-sm-4 {
    grid-column-end: span 4;
  }
  .col-5 {
    grid-column-end: span 5;
  }
  .col-sm-5 {
    grid-column-end: span 5;
  }
  .col-6 {
    grid-column-end: span 6;
  }
  .col-sm-6 {
    grid-column-end: span 6;
  }
  .col-7 {
    grid-column-end: span 7;
  }
  .col-sm-7 {
    grid-column-end: span 7;
  }
  .col-8 {
    grid-column-end: span 8;
  }
  .col-sm-8 {
    grid-column-end: span 8;
  }
  .off-1 {
    grid-column-start: 1;
  }
  .off-sm-1 {
    grid-column-start: 1;
  }
  .off-2 {
    grid-column-start: 2;
  }
  .off-sm-2 {
    grid-column-start: 2;
  }
  .off-3 {
    grid-column-start: 3;
  }
  .off-sm-3 {
    grid-column-start: 3;
  }
  .off-4 {
    grid-column-start: 4;
  }
  .off-sm-4 {
    grid-column-start: 4;
  }
  .off-5 {
    grid-column-start: 5;
  }
  .off-sm-5 {
    grid-column-start: 5;
  }
  .off-6 {
    grid-column-start: 6;
  }
  .off-sm-6 {
    grid-column-start: 6;
  }
  .off-7 {
    grid-column-start: 7;
  }
  .off-sm-7 {
    grid-column-start: 7;
  }
  .off-8 {
    grid-column-start: 8;
  }
  .off-sm-8 {
    grid-column-start: 8;
  }
}
@media only screen and (min-width: 905px) {
  .container {
    width: calc(100% - 2 * (100vw - 840px) / 2);
    padding: 0 calc((100vw - 840px) / 2);
  }
  .row {
    display: grid;
    grid-template-columns: repeat(12, 48px);
    column-gap: 24px;
  }
  .col-1 {
    grid-column-end: span 1;
  }
  .col-md-1 {
    grid-column-end: span 1;
  }
  .col-2 {
    grid-column-end: span 2;
  }
  .col-md-2 {
    grid-column-end: span 2;
  }
  .col-3 {
    grid-column-end: span 3;
  }
  .col-md-3 {
    grid-column-end: span 3;
  }
  .col-4 {
    grid-column-end: span 4;
  }
  .col-md-4 {
    grid-column-end: span 4;
  }
  .col-5 {
    grid-column-end: span 5;
  }
  .col-md-5 {
    grid-column-end: span 5;
  }
  .col-6 {
    grid-column-end: span 6;
  }
  .col-md-6 {
    grid-column-end: span 6;
  }
  .col-7 {
    grid-column-end: span 7;
  }
  .col-md-7 {
    grid-column-end: span 7;
  }
  .col-8 {
    grid-column-end: span 8;
  }
  .col-md-8 {
    grid-column-end: span 8;
  }
  .col-9 {
    grid-column-end: span 9;
  }
  .col-md-9 {
    grid-column-end: span 9;
  }
  .col-10 {
    grid-column-end: span 10;
  }
  .col-md-10 {
    grid-column-end: span 10;
  }
  .col-11 {
    grid-column-end: span 11;
  }
  .col-md-11 {
    grid-column-end: span 11;
  }
  .col-12 {
    grid-column-end: span 12;
  }
  .col-md-12 {
    grid-column-end: span 12;
  }
  .off-1 {
    grid-column-start: 1;
  }
  .off-md-1 {
    grid-column-start: 1;
  }
  .off-2 {
    grid-column-start: 2;
  }
  .off-md-2 {
    grid-column-start: 2;
  }
  .off-3 {
    grid-column-start: 3;
  }
  .off-md-3 {
    grid-column-start: 3;
  }
  .off-4 {
    grid-column-start: 4;
  }
  .off-md-4 {
    grid-column-start: 4;
  }
  .off-5 {
    grid-column-start: 5;
  }
  .off-md-5 {
    grid-column-start: 5;
  }
  .off-6 {
    grid-column-start: 6;
  }
  .off-md-6 {
    grid-column-start: 6;
  }
  .off-7 {
    grid-column-start: 7;
  }
  .off-md-7 {
    grid-column-start: 7;
  }
  .off-8 {
    grid-column-start: 8;
  }
  .off-md-8 {
    grid-column-start: 8;
  }
  .off-9 {
    grid-column-start: 9;
  }
  .off-md-9 {
    grid-column-start: 9;
  }
  .off-10 {
    grid-column-start: 10;
  }
  .off-md-10 {
    grid-column-start: 10;
  }
  .off-11 {
    grid-column-start: 11;
  }
  .off-md-11 {
    grid-column-start: 11;
  }
  .off-12 {
    grid-column-start: 12;
  }
  .off-md-12 {
    grid-column-start: 12;
  }
}
@media only screen and (min-width: 1240px) {
  .container {
    width: calc(100% - 400px);
    padding: 0 200px;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(12, calc((100vw - 400px - 352px) / 12));
    column-gap: 32px;
  }
  .col-1 {
    grid-column-end: span 1;
  }
  .col-lg-1 {
    grid-column-end: span 1;
  }
  .col-2 {
    grid-column-end: span 2;
  }
  .col-lg-2 {
    grid-column-end: span 2;
  }
  .col-3 {
    grid-column-end: span 3;
  }
  .col-lg-3 {
    grid-column-end: span 3;
  }
  .col-4 {
    grid-column-end: span 4;
  }
  .col-lg-4 {
    grid-column-end: span 4;
  }
  .col-5 {
    grid-column-end: span 5;
  }
  .col-lg-5 {
    grid-column-end: span 5;
  }
  .col-6 {
    grid-column-end: span 6;
  }
  .col-lg-6 {
    grid-column-end: span 6;
  }
  .col-7 {
    grid-column-end: span 7;
  }
  .col-lg-7 {
    grid-column-end: span 7;
  }
  .col-8 {
    grid-column-end: span 8;
  }
  .col-lg-8 {
    grid-column-end: span 8;
  }
  .col-9 {
    grid-column-end: span 9;
  }
  .col-lg-9 {
    grid-column-end: span 9;
  }
  .col-10 {
    grid-column-end: span 10;
  }
  .col-lg-10 {
    grid-column-end: span 10;
  }
  .col-11 {
    grid-column-end: span 11;
  }
  .col-lg-11 {
    grid-column-end: span 11;
  }
  .col-12 {
    grid-column-end: span 12;
  }
  .col-lg-12 {
    grid-column-end: span 12;
  }
  .off-1 {
    grid-column-start: 1;
  }
  .off-lg-1 {
    grid-column-start: 1;
  }
  .off-2 {
    grid-column-start: 2;
  }
  .off-lg-2 {
    grid-column-start: 2;
  }
  .off-3 {
    grid-column-start: 3;
  }
  .off-lg-3 {
    grid-column-start: 3;
  }
  .off-4 {
    grid-column-start: 4;
  }
  .off-lg-4 {
    grid-column-start: 4;
  }
  .off-5 {
    grid-column-start: 5;
  }
  .off-lg-5 {
    grid-column-start: 5;
  }
  .off-6 {
    grid-column-start: 6;
  }
  .off-lg-6 {
    grid-column-start: 6;
  }
  .off-7 {
    grid-column-start: 7;
  }
  .off-lg-7 {
    grid-column-start: 7;
  }
  .off-8 {
    grid-column-start: 8;
  }
  .off-lg-8 {
    grid-column-start: 8;
  }
  .off-9 {
    grid-column-start: 9;
  }
  .off-lg-9 {
    grid-column-start: 9;
  }
  .off-10 {
    grid-column-start: 10;
  }
  .off-lg-10 {
    grid-column-start: 10;
  }
  .off-11 {
    grid-column-start: 11;
  }
  .off-lg-11 {
    grid-column-start: 11;
  }
  .off-12 {
    grid-column-start: 12;
  }
  .off-lg-12 {
    grid-column-start: 12;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    width: calc(100% - 2 * (100vw - 1040px) / 2);
    padding: 0 calc((100vw - 1040px) / 2);
  }
  .row {
    display: grid;
    grid-template-columns: repeat(12, 57.3333333333px);
    column-gap: 32px;
  }
  .col-1 {
    grid-column-end: span 1;
  }
  .col-xl-1 {
    grid-column-end: span 1;
  }
  .col-2 {
    grid-column-end: span 2;
  }
  .col-xl-2 {
    grid-column-end: span 2;
  }
  .col-3 {
    grid-column-end: span 3;
  }
  .col-xl-3 {
    grid-column-end: span 3;
  }
  .col-4 {
    grid-column-end: span 4;
  }
  .col-xl-4 {
    grid-column-end: span 4;
  }
  .col-5 {
    grid-column-end: span 5;
  }
  .col-xl-5 {
    grid-column-end: span 5;
  }
  .col-6 {
    grid-column-end: span 6;
  }
  .col-xl-6 {
    grid-column-end: span 6;
  }
  .col-7 {
    grid-column-end: span 7;
  }
  .col-xl-7 {
    grid-column-end: span 7;
  }
  .col-8 {
    grid-column-end: span 8;
  }
  .col-xl-8 {
    grid-column-end: span 8;
  }
  .col-9 {
    grid-column-end: span 9;
  }
  .col-xl-9 {
    grid-column-end: span 9;
  }
  .col-10 {
    grid-column-end: span 10;
  }
  .col-xl-10 {
    grid-column-end: span 10;
  }
  .col-11 {
    grid-column-end: span 11;
  }
  .col-xl-11 {
    grid-column-end: span 11;
  }
  .col-12 {
    grid-column-end: span 12;
  }
  .col-xl-12 {
    grid-column-end: span 12;
  }
  .off-1 {
    grid-column-start: 1;
  }
  .off-xl-1 {
    grid-column-start: 1;
  }
  .off-2 {
    grid-column-start: 2;
  }
  .off-xl-2 {
    grid-column-start: 2;
  }
  .off-3 {
    grid-column-start: 3;
  }
  .off-xl-3 {
    grid-column-start: 3;
  }
  .off-4 {
    grid-column-start: 4;
  }
  .off-xl-4 {
    grid-column-start: 4;
  }
  .off-5 {
    grid-column-start: 5;
  }
  .off-xl-5 {
    grid-column-start: 5;
  }
  .off-6 {
    grid-column-start: 6;
  }
  .off-xl-6 {
    grid-column-start: 6;
  }
  .off-7 {
    grid-column-start: 7;
  }
  .off-xl-7 {
    grid-column-start: 7;
  }
  .off-8 {
    grid-column-start: 8;
  }
  .off-xl-8 {
    grid-column-start: 8;
  }
  .off-9 {
    grid-column-start: 9;
  }
  .off-xl-9 {
    grid-column-start: 9;
  }
  .off-10 {
    grid-column-start: 10;
  }
  .off-xl-10 {
    grid-column-start: 10;
  }
  .off-11 {
    grid-column-start: 11;
  }
  .off-xl-11 {
    grid-column-start: 11;
  }
  .off-12 {
    grid-column-start: 12;
  }
  .off-xl-12 {
    grid-column-start: 12;
  }
}
.nav {
  position: sticky;
  top: 0px;
  z-index: 999;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  padding: 0 1rem;
  align-items: center;
  height: 48px;
  width: calc(100vw - 2rem);
  background-color: var(--primary);
}
.nav__brand {
  margin-left: 0.5rem;
  text-decoration: none;
  color: var(--text-black);
}
.nav__brand:hover {
  cursor: pointer;
}
.nav__buttons {
  display: flex;
  justify-content: end;
}
.nav__button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  margin: 0px 0.8rem;
  padding: 0;
  cursor: pointer;
}
.nav__button:first-child {
  margin-left: 0;
}
.nav__button:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 599px) {
  .nav {
    grid-template-columns: 50% 50%;
  }
  .nav__item:nth-child(2) {
    display: none;
  }
}
@media only screen and (max-width: 299px) {
  .nav {
    grid-template-columns: 100%;
  }
  .nav__item:nth-child(3) {
    display: none;
  }
}
:root {
  --primary: #ffc857;
  --secondary: #55868c;
  --gradient-1: #32a852;
  --gradient-2: #7132a8;
  --text-white: #eee;
  --text-black: #111;
  --highlight: #ccc;
  --active-highlight: #32a85250;
}

.theme-dark {
  --primary: #55868c;
  --secondary: #ffc857;
  --gradient-1: #7132a8;
  --gradient-2: #32a852;
  --text-white: #111;
  --text-black: #eee;
  --highlight: #333;
  --active-highlight: #7132a850;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}
.sidebar {
  position: fixed;
  z-index: 998;
  left: -300px;
  top: 48px;
  height: calc(100vh - 48px - 1rem);
  width: 250px;
  padding: 0 1rem 1rem 1rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: none;
  background: linear-gradient(var(--primary), var(--gradient-1));
  transition: left 0.4s ease;
}
.sidebar__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background-color: black;
}
.sidebar__item {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0.6rem 1rem;
  border-radius: 100px;
  width: calc(100% - 2rem);
  font: inherit;
  text-align: start;
  margin: 0.2rem 0;
  display: flex;
  align-items: center;
}
.sidebar__item--button {
  width: 100%;
}
.sidebar__item--active {
  background-color: rgba(0, 0, 0, 0.062745098);
}
.sidebar__item:hover {
  background-color: rgba(0, 0, 0, 0.062745098);
}
.sidebar__item:first-child {
  margin-top: 0;
}
.sidebar__item:last-child {
  margin-bottom: 0;
}
.sidebar__user {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  border-radius: 100px;
}
.sidebar__info {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
  justify-content: center;
}
.sidebar__pfp {
  aspect-ratio: 1;
  width: 2.8rem;
  border-radius: 8px;
  object-fit: cover;
  object-position: top;
}
.sidebar__icon {
  width: 10%;
  cursor: pointer;
}
.sidebar__role {
  font-size: 0.65rem;
  font-weight: 400;
}
.sidebar__separator {
  width: 100%;
  height: 1px;
  background-color: var(--text-black);
  margin-top: auto;
}

@media only screen and (max-width: 300px) {
  .sidebar {
    width: calc(100vw - 2rem);
    left: -300px;
  }
}
@media only screen and (min-width: 300px) {
  .sidebar__item--nav {
    display: none;
  }
}
.search {
  background-color: var(--text-white);
  width: 80%;
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.search__input {
  color: var(--text--black);
  margin: 0px 0.5rem;
  border: none;
  width: 100%;
  outline: none;
  background-color: var(--text-white);
}
.search__icon {
  cursor: pointer;
  color: var(--text--black);
}
.search--sidebar {
  background-color: transparent;
  padding: 0.6rem 1rem;
  width: calc(100% - 2rem);
}
.search--sidebar .search__input {
  padding: 0;
  margin: 0;
  width: 90%;
  background-color: transparent;
}

@media only screen and (min-width: 600px) {
  .search--sidebar {
    display: none;
  }
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--text-white);
  color: var(--text-black);
}

i {
  color: inherit;
}

.hidden {
  display: none !important;
}

.gradient {
  background: linear-gradient(var(--primary), var(--gradient-1));
  color: var(--text-white);
}
.gradient i {
  color: var(--text--white);
}

/*# sourceMappingURL=common.css.map */
