@import '../common.scss';

@import '../components/annotation.scss';
@import '../components/button.scss';
@import '../components/dropdown.scss';
@import '../components/input.scss';
@import '../components/share.scss';

.poem {
    &__avatar-container {
        justify-self: end;
        max-height: 300px;
    }

    &__avatar {
        width: 320px;
        aspect-ratio: 1;
    }

    &__title {
        margin: 0;
        margin-bottom: 8px;
    }

    &__author {
        color: var(--text-white);
        margin: 0;
        font-weight: 500;

        &:visited {
            color: var(--text-white);
        }
    }

    &__info {
        display: flex;
        margin-bottom: 1rem;
    }

    &__item {
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__content {
        color: var(--text-black);
    }

    &__content-header {
        display: flex;
        margin: 2rem 0;
        font-size: 0.8rem;
    }

    &__controls {
        display: flex;
        margin: 2rem 0;
    }

    &__control {
        margin: 0 0.5rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__lyrics {
        font-size: 1.2rem;
        line-height: 30px;
    }

    &__lyrics-header {
        display: flex;
        margin: 2rem 0;
        font-size: 0.8rem;
    }

    &__textarea {
        width: calc(100% - 20px - 2px);
        height: 10rem;
        padding: 10px;

        color: inherit;
        background-color: transparent;
        border: 1px solid inherit;

        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        resize: none;

        &:focus-visible {
            outline: none;
        }
    }

    &__annotated {
        cursor: pointer;
        background-color: var(--highlight);

        &--active {
            background-color: var(--active-highlight);
        }
    }
}

.footer {
    background-color: var(--text-black);
    height: 400px;
}

@media (max-width: 1239px) {
    .poem {
        &__avatar {
            width: 280px;
        }

        &__avatar-container {
            max-height: 260px;
        }
    }
}

@media (max-width: 904px) {
    .poem {
        &__avatar {
            width: 200px;
        }

        &__container {
            margin: 0;
        }
    }
}

@media (max-width: 599px) {
    .poem {
        &__avatar-container {
            justify-self: start;
        }
    }
}
