<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Request update</title>
</head>
<body>
    <h2>Your request has been handled</h2>
    <p>
        Hi, <b>{{name}}</b>! <br><br>

        Your request for <b>{{reason}}</b> has been <b>{{result}}</b>. <br>
        If you didn't initiate this request, you may need to secure your account. <br><br>

        PoST will never email you and ask you to disclose or verify your password, <br>
        credit card, or banking account number.
    </p>
</body>
</html>
