.share {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.9rem;
    row-gap: 1rem;
    margin: 1rem 0;

    &__title {
        font-weight: inherit;
        font-size: inherit;
        text-align: center;
        margin: 0;
    }

    &__buttons {
        display: flex;
        gap: 1rem;
    }

    &__row {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 0.6rem;
        flex-wrap: wrap;
    }

    &__label {
        width: fit-content;
    }

    &__input {
        font-size: 0.8rem;
        flex-grow: 1;
    }
}
