.nav {
    position: sticky;
    top: 0px;
    z-index: 999;

    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding: 0 1rem;

    align-items: center;
    height: 48px;
    width: calc(100vw - 2rem);
    background-color: var(--primary);

    &__brand {
        margin-left: 0.5rem;
        text-decoration: none;
        color: var(--text-black);
        &:hover {
            cursor: pointer;
        }
    }

    &__buttons {
        display: flex;
        justify-content: end;
    }

    &__button {
        border: none;
        background-color: transparent;
        margin: 0px 0.5rem;
        border-radius: 10px;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: 599px) {
    .nav {
        grid-template-columns: 50% 50%;

        &__item:nth-child(2) {
            display: none;
        }
    }
}

@media only screen and (max-width: 299px) {
    .nav {
        grid-template-columns: 100%;

        &__item:nth-child(3) {
            display: none;
        }
    }
}