:root {
    --gradient-1: #32a852;
    --gradient-2: #7132a8;
    --text-white: #eee;
    --text-black: #111;
    --highlight: #ccc;
    --active-highlight: #32a85250;
}

.theme-dark {
    --gradient-1: #7132a8;
    --gradient-2: #32a852;
    --text-white: #111;
    --text-black: #eee;
    --highlight: #333;
    --active-highlight: #7132a850;
}
