.annotation {
    position: relative;
    background-color: var(--highlight);
    padding: 20px 16px;
    height: fit-content;

    &--hidden {
        display: none;
    }

    &__header {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 16px;
    }

    &__button {
        border: none;
        background-color: transparent;
        color: var(--text-black);
        cursor: pointer;
        grid-column: 1 / span 3;
        font-size: 1rem;

        &--left {
            margin-left: auto;
        }
    }

    &__separator {
        grid-column: 1 / span 3;
        height: 1px;
        margin: 16px 0;
        background-color: var(--text-black);
    }

    &__contributors {
        margin-left: auto;
    }

    &__textarea {
        width: calc(100% - 20px);
        padding: 10px;

        background-color: transparent;
        border: 1px solid var(--text-black);
        
        font-family: 'Montserrat', sans-serif;
        resize: vertical;

        &:focus-visible {
            outline: none;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        margin: 16px 0;
    }
}