.share {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.9rem;

    &--lyrics {
        margin-bottom: 1rem;
    }

    &__title {
        font-weight: inherit;
        font-size: inherit;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__buttons {
        display: flex;
        margin-bottom: 1rem;
    }

    &__margin {
        margin: 0 0.5rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        width: 100%;

        margin: 0.5rem 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__label {
        width: fit-content;
    }

    &__input {
        font-size: 0.8rem;
        flex-grow: 1;
    }

    &__button {
    }
}
