@import '../../index.scss';

@import '../../components/button.scss';
@import '../../components/input.scss';
@import '../../components/form.scss';
@import '../../components/dropdown.scss';

.form {
    &__error {
        margin-top: 0.8rem;
    }

    &__submit {
        margin-top: 0.8rem;
    }
}

@media only screen and (min-width: 600px) {
    .guide__title {
        margin: 0;
    }
}
