@import 'common/layout.scss';
@import 'common/nav.scss';
@import 'common/theme.scss';
@import 'common/typography.scss';
@import 'common/sidebar.scss';
@import 'common/search.scss';

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--text-white);
    color: var(--text-black);

    // hr {
    //     margin: 10rem 0;
    // }
}

i {
    color: inherit;
}

.hidden {
    display: none !important;
}

.gradient {
    background: linear-gradient(var(--primary), var(--gradient-1));
    color: var(--text-white);

    i {
        color: var(--text--white);
    }
}
