.news {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    &__card {
        &--primary {
            grid-area: 1 / 1 / span 3 / span 2;
        }

        &--secondary {
            grid-area: 4 / 1 / span 2 / span 2;
        }

        &--tertiary {
            grid-area: 1 / 1 / span 1 / span 2;
        }
    }
}
