@import 'theme.scss';
@import 'typography.scss';

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--text-white);
}

.nav {
    background-color: var(--gradient-1);
    height: 48px;
    width: 100vw;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.poem {
    &__header {
        height: 100%;
        background: linear-gradient(var(--gradient-1), var(--gradient-2));
        color: var(--text-white);
        display: flex;
        justify-content: center;
    }

    &__header-wrapper {
        display: flex;
        padding: 12px 1rem;
        max-width: 1200px;
    }

    &__avatar-container {
        max-height: 300px;
    }

    &__avatar {
        height: 340px;
        width: 340px;
    }

    &__header-container {
        padding: 0 12px;
    }

    &__title {
        margin: 0;
        margin-bottom: 8px;
    }

    &__author {
        color: var(--text-white);
        margin: 0;
        font-weight: 500;

        &:visited {
            color: var(--text-white);
        }
    }

    &__short-description {
    }

    &__info {
        display: flex;
    }

    &__item {
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__container {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 60% 40%;
        color: var(--text-black);
        margin: 3rem auto;
        padding: 0 1rem;
    }

    &__content-wrapper {
    }

    &__content-header {
        display: flex;
        margin: 2rem 0;
        font-size: 0.8rem;
    }

    &__content {
        font-size: 1.2rem;
        line-height: 30px;
    }

    &__annotate {
        position: absolute;
        border: 1px solid var(--text-black);
        color: var(--text-black);
        background-color: var(--text-white);
        padding: 4px 16px;
        font-size: 1rem;

        &:hover {
            color: var(--text-white);
            background-color: var(--text-black);
        }
    }

    &__annotated {
        cursor: pointer;
        background-color: var(--highlight);
    }
}

.footer {
    background-color: var(--text-black);
    height: 200px;
    width: 100vw;
}

@media (max-width: 1024px) {
    .poem {
        &__avatar {
            height: 200px;
            width: 200px;
        }

        &__container {
            margin: 0 auto;
        }
    }
}

@media (max-width: 767px) {
    .poem__header-wrapper {
        flex-direction: column;
    }
}
