@import 'theme.scss';
@import 'typography.scss';

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--text-white);
    color: var(--text-black);
}

i {
    color: var(--text-black);
}

.nav {
    background-color: var(--gradient-1);
    height: 48px;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.poem {
    &__header {
        background: linear-gradient(var(--gradient-1), var(--gradient-2));
        color: var(--text-white);
        display: flex;
        justify-content: center;

        i {
            color: var(--text--white);
        }
    }

    &__avatar-container {
        justify-self: end;
        max-height: 300px;
    }

    &__avatar {
        width: 340px;
        aspect-ratio: 1;
    }

    &__title {
        margin: 0;
        margin-bottom: 8px;
    }

    &__author {
        color: var(--text-white);
        margin: 0;
        font-weight: 500;

        &:visited {
            color: var(--text-white);
        }
    }

    &__info {
        display: flex;
    }

    &__item {
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__content {
        color: var(--text-black);
        padding: 0 1rem;
        margin: 2rem 0;
    }

    &__content-header {
        display: flex;
        margin: 2rem 0;
        font-size: 0.8rem;
    }

    &__lyrics {
        font-size: 1.2rem;
        line-height: 30px;
    }

    &__lyrics-header {
        display: flex;
        margin: 2rem 0;
        font-size: 0.8rem;
    }

    &__annotate {
        position: absolute;
        border: 1px solid var(--text-black);
        color: var(--text-black);
        background-color: var(--text-white);
        padding: 4px 16px;
        font-size: 1rem;

        &:hover {
            color: var(--text-white);
            background-color: var(--text-black);
        }
    }

    &__annotated {
        cursor: pointer;
        background-color: var(--highlight);

        &--active {
            background-color: var(--active-highlight);
        }
    }
}

.footer {
    background-color: var(--text-black);
    height: 200px;
}

@media (max-width: 1239px) {
    .poem {
        &__avatar {
            width: 300px;
        }

        &__avatar-container {
            max-height: 260px;
        }
    }
}

@media (max-width: 904px) {
    .poem {
        &__avatar {
            width: 200px;
        }

        &__container {
            margin: 0;
        }
    }
}

@media (max-width: 599px) {
    .poem {
        &__avatar-container {
            justify-self: start;
        }
    }
}
