@import '../../index.scss';

@import '../../components/listing.scss';
@import '../../components/userRow.scss';
@import '../../components/dropdown.scss';
@import '../../components/poemCard.scss';
@import '../../components/button.scss';

main {
    margin-top: 5rem;
}

// .accompCard {

// }

.statisticCard {
    padding: 1rem;
    background-color: var(--highlight);
    //border-radius: 20px;
    //aspect-ratio: 2;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    h3 {
        margin: 0;
        margin-bottom: 2.5rem;
    }

    &--accomp {
        display: block;
    }

    &__item {
        margin-right: 0.5rem;
    }
}

.contributors {
    padding: 1rem;
    //border-radius: 20px;

    &__item {
        width: 100%;
        background-color: var(--highlight);
        aspect-ratio: 10;
    }
}

.profile {
    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: #7fffd450;
        background: linear-gradient(var(--primary), var(--gradient-1));

        padding-top: 1rem;
        padding-bottom: 1rem;

        margin-bottom: 4rem;
    }

    &__avatar {
        border-radius: 100%;
        width: 100%;
        aspect-ratio: 1;
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;

        button {
            width: fit-content;
        }
    }

    &__contact {
        margin: 0.5rem 0;
    }
}
